.body {
    margin: 0;
    background: rgb(31, 31, 31);
    text-align: center;
}
.tabButton {
    font-size: 16px;
    margin: 0;
    width: 100px;
    height: 30px;
    background: white;
    text-align: center;
}
.header {
    font-weight: 100;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.822);   
}
.paragraph {
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    color: white;
    text-align: left;
}
.pdfViewer {
    width: 50%;
    height: 100vh;
}
.pdfContainer {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* For Mobile Users*/
@media (max-width: 768px) {
    .tabButton {
        font-size: 14px; /* Further reduce button font size */
    }

    .header {
        font-size: 24px; /* Adjust header font size */
    }

    .paragraph {
        margin-left: 10px; /* Reduce left margin */
        margin-right: 10px; /* Reduce right margin */
        font-size: 16px; /* Adjust paragraph font size */
    }

    .pdfViewer {
        width: 100%;
        height: 100vh;
    }

    .pdfContainer {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}