<h1 class="header">Nabi Habib's Portfolio</h1>
<button class="tabButton" (click)="currentView = 'aboutMe'">About Me</button>   
<button class="tabButton" (click)="currentView = 'resume'">Resume</button>
<div [ngSwitch]="currentView">
  <!-- Resume View -->
  <div *ngSwitchCase="'resume'" id="pdfContainer">
    <!-- Display the resume content here -->
    <app-pdf-vieewer></app-pdf-vieewer>
  </div>
  <div *ngSwitchCase="'aboutMe'" id="aboutMeContainer">
    <!-- About Me View --> 
    <p  class="paragraph">Hello, I'm Nabi Habib, a passionate Software Engineer based in San Diego, CA. With a B.S. in Computer Engineering from San Diego State University, I'm dedicated to creating innovative software solutions that make a difference.<br>
      <br>
      During my recent internship at Bolt Medical, I collaborated across cross-functional teams, including software (front end, back end, and embedded systems). I enhanced Gen1 and Gen2 machine functionality, ensuring reliability and consistency through rigorous testing. My attention to detail also contributed to validating critical test procedures and reports. In addition, I conducted 1000 durability tests on the Gen2 machine's display and assisted in updating Gen2 machine risk assessments.<br>
      <br>
      I also gained valuable experience during my internship at Recon RF, where I conducted load pulls on transistors to find the optimum power and efficiency. I also calibrated semiconductor test stations, further honing my technical skills.<br>
      <br>
      My technical toolkit includes languages like C++, JavaScript, and Matlab, and I'm proficient in NodeJS and React. I thrive on tackling diverse software challenges, from front-end user experiences to optimizing system performance on the back end.<br>
      <br>
      If you're seeking a versatile Software Engineer who's ready to take on new opportunities and contribute to your projects, let's connect! Please reach out if you'd like to discuss how I can be an asset to your team.<br>
      <br>
    </p>
  </div>
</div>

  
